[client]
port=3308
socket=/usr/local/mysql/var3/mysql.sock
default-character-set = utf8
 
[mysqld]
port=3308
bind-address=127.0.0.1
basedir=/usr/local/mysql
datadir=/usr/local/mysql/var3/data
socket=/usr/local/mysql/var3/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
 
############# default settings  ################
# time zone
default-time-zone = system
character-set-server = utf8
default-storage-engine = InnoDB
 
[mysqld_safe]
log-error=/usr/local/mysql/var3/mysqld.log
pid-file=/usr/local/mysql/var3/mysqld.pid

